myproject/src/wsdl/EstadoCuenta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01 svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01 svn-revision#13094. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="EstadoCuenta">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://Servicios/" schemaLocation="EstadoCuenta.xsd" />
		</xsd:schema>
	</types>
	<message name="Comparendos">
		<part name="parameters" element="tns:Comparendos" />
	</message>
	<message name="ComparendosResponse">
		<part name="parameters" element="tns:ComparendosResponse" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="Resoluciones">
		<part name="parameters" element="tns:Resoluciones" />
	</message>
	<message name="ResolucionesResponse">
		<part name="parameters" element="tns:ResolucionesResponse" />
	</message>
	<message name="AcuerdosPagos">
		<part name="parameters" element="tns:AcuerdosPagos" />
	</message>
	<message name="AcuerdosPagosResponse">
		<part name="parameters" element="tns:AcuerdosPagosResponse" />
	</message>
	<message name="SuspencionesLicencias">
		<part name="parameters" element="tns:SuspencionesLicencias" />
	</message>
	<message name="SuspencionesLicenciasResponse">
		<part name="parameters" element="tns:SuspencionesLicenciasResponse" />
	</message>
	<portType name="EstadoCuenta">
		<operation name="Comparendos">
			<input wsam:Action="http://Servicios/EstadoCuenta/ComparendosRequest" message="tns:Comparendos" />
			<output wsam:Action="http://Servicios/EstadoCuenta/ComparendosResponse" message="tns:ComparendosResponse" />
			<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/EstadoCuenta/Comparendos/Fault/Exception" />
		</operation>
		<operation name="Resoluciones">
			<input wsam:Action="http://Servicios/EstadoCuenta/ResolucionesRequest" message="tns:Resoluciones" />
			<output wsam:Action="http://Servicios/EstadoCuenta/ResolucionesResponse" message="tns:ResolucionesResponse" />
			<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/EstadoCuenta/Resoluciones/Fault/Exception" />
		</operation>
		<operation name="AcuerdosPagos">
			<input wsam:Action="http://Servicios/EstadoCuenta/AcuerdosPagosRequest" message="tns:AcuerdosPagos" />
			<output wsam:Action="http://Servicios/EstadoCuenta/AcuerdosPagosResponse" message="tns:AcuerdosPagosResponse" />
			<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/EstadoCuenta/AcuerdosPagos/Fault/Exception" />
		</operation>
		<operation name="SuspencionesLicencias">
			<input wsam:Action="http://Servicios/EstadoCuenta/SuspencionesLicenciasRequest" message="tns:SuspencionesLicencias" />
			<output wsam:Action="http://Servicios/EstadoCuenta/SuspencionesLicenciasResponse" message="tns:SuspencionesLicenciasResponse" />
			<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/EstadoCuenta/SuspencionesLicencias/Fault/Exception" />
		</operation>
	</portType>
	<binding name="EstadoCuentaPortBinding" type="tns:EstadoCuenta">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="Comparendos">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="Resoluciones">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="AcuerdosPagos">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="SuspencionesLicencias">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="EstadoCuenta">
		<port name="EstadoCuentaPort" binding="tns:EstadoCuentaPortBinding">
			<soap:address location="https://consulta.simit.org.co/ServiciosSimit/EstadoCuenta" />
		</port>
	</service>
</definitions>