myproject/src/main/webapp/WEB-INF/wsdl/EstadoCuenta.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01 svn-revision#13094. -->
<xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

	<xs:element name="AcuerdosPagos" type="tns:AcuerdosPagos" />

	<xs:element name="AcuerdosPagosResponse" type="tns:AcuerdosPagosResponse" />

	<xs:element name="Comparendos" type="tns:Comparendos" />

	<xs:element name="ComparendosResponse" type="tns:ComparendosResponse" />

	<xs:element name="Exception" type="tns:Exception" />

	<xs:element name="Resoluciones" type="tns:Resoluciones" />

	<xs:element name="ResolucionesResponse" type="tns:ResolucionesResponse" />

	<xs:element name="SuspencionesLicencias" type="tns:SuspencionesLicencias" />

	<xs:element name="SuspencionesLicenciasResponse" type="tns:SuspencionesLicenciasResponse" />

	<xs:complexType name="Resoluciones">
		<xs:sequence>
			<xs:element name="DocumentoRes" type="xs:string" minOccurs="0" />
			<xs:element name="TipDocRes" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResolucionesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:clsSalidaResoluciones" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsSalidaResoluciones">
		<xs:sequence>
			<xs:element name="resoluciones" type="tns:clsDatosResoluciones" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsDatosResoluciones">
		<xs:sequence>
			<xs:element name="apellidosInfractores" type="xs:string" minOccurs="0" />
			<xs:element name="estadosResoluciones" type="xs:string" minOccurs="0" />
			<xs:element name="fechaComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="fechaResolucion" type="xs:string" minOccurs="0" />
			<xs:element name="IDSecretarias" type="xs:string" minOccurs="0" />
			<xs:element name="nombresInfractores" type="xs:string" minOccurs="0" />
			<xs:element name="numeroComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="resoluciones" type="xs:string" minOccurs="0" />
			<xs:element name="secretarias" type="xs:string" minOccurs="0" />
			<xs:element name="total" type="xs:double" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Exception">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SuspencionesLicencias">
		<xs:sequence>
			<xs:element name="DocumentoSL" type="xs:string" minOccurs="0" />
			<xs:element name="TipoDocSL" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SuspencionesLicenciasResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Comparendos">
		<xs:sequence>
			<xs:element name="Documento" type="xs:string" minOccurs="0" />
			<xs:element name="TipoDocumento" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComparendosResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:clsSalidaComparendos" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsSalidaComparendos">
		<xs:sequence>
			<xs:element name="comparendos" type="tns:clsDatosComparendos" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsDatosComparendos">
		<xs:sequence>
			<xs:element name="codigoInfraccion" type="xs:string" minOccurs="0" />
			<xs:element name="descripcionInfraccion" type="xs:string" minOccurs="0" />
			<xs:element name="direccionComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="estadoComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="fechaComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="fotodeteccion" type="xs:string" minOccurs="0" />
			<xs:element name="infractorComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="numeroComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="placaVehiculo" type="xs:string" minOccurs="0" />
			<xs:element name="secretariaComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="servicioVehiculo" type="xs:string" minOccurs="0" />
			<xs:element name="tipoVehiculo" type="xs:string" minOccurs="0" />
			<xs:element name="total" type="xs:double" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AcuerdosPagos">
		<xs:sequence>
			<xs:element name="DocumentoAC" type="xs:string" minOccurs="0" />
			<xs:element name="TipDocAC" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AcuerdosPagosResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:clsSalidaAcuerdosPagos" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsSalidaAcuerdosPagos">
		<xs:sequence>
			<xs:element name="acuerdosPagos" type="tns:clsDatosAcuerdosPagos" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clsDatosAcuerdosPagos">
		<xs:sequence>
			<xs:element name="apellidosInfractores" type="xs:string" minOccurs="0" />
			<xs:element name="estadosResoluciones" type="xs:string" minOccurs="0" />
			<xs:element name="fechaComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="fechaResolucion" type="xs:string" minOccurs="0" />
			<xs:element name="IDSecretarias" type="xs:string" minOccurs="0" />
			<xs:element name="noComparendo" type="xs:string" minOccurs="0" />
			<xs:element name="nombresInfractores" type="xs:string" minOccurs="0" />
			<xs:element name="permitePago" type="xs:string" minOccurs="0" />
			<xs:element name="resoluciones" type="xs:string" minOccurs="0" />
			<xs:element name="secretarias" type="xs:string" minOccurs="0" />
			<xs:element name="total" type="xs:double" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>